version: "3"
services:
  server:
    build: .
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "8080:8080"
    depends_on:
      - database

  database:
    image: mongo
    ports:
      - "27017:27017"
